# Virtual environments
.venv/
env/
venv/
*.env

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Database files (if any)
*.db
*.sqlite

# Alembic migrations folder (not necessary to track migration history)
migrations/versions/
alembic.ini
alembic/

# FastAPI server logs
*.log

# Coverage reports
.coverage
*.coveragerc

# PyCharm settings (if you're using PyCharm)
.idea/

# SSL certs
*.pem

# Google SDK
google-cloud-sdk/
google-cloud-cli-*.tar.gz

# Uploads
# Uploads
uploads/avatars/*.jpg
uploads/avatars/*.jpeg
uploads/avatars/*.png
uploads/avatars/*.webp

# Secrets
secrets/